<nav
  class="navbar navbar-expand-lg navbar-light bg-success"
  style="border-bottom: 1px solid black"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link text-white"
          routerLink="/signin"
          (click)="signout()"
          *ngIf="active"
          >Sign Out</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/profile" *ngIf="isuser"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/account" *ngIf="active"
          >Account</a
        >
      </li>

              <li class="nav-item">
        <a class="nav-link text-white" routerLink="/certificate" *ngIf="isuser"
          >Certificate</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/admin" *ngIf="isadmin"
          >Admin Panel</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/hrpanel" *ngIf="ishr"
          >hrpanel</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="m-3 p-3" style="float: left;">
  <h5 style="text-align: center;">User Actions</h5>
  <input type="submit" value="Get Users" (click)="managegetuser()">
  <br>

  <h5 style="text-align: center;">Certificates Actions</h5>
  <input type="submit" value="Get Certificates" (click)="managegetcert()">
  <br>
</div>
<div class="m-3 p-3" style="float: left;">




  <div *ngIf="mnggetuser">  
    <h5> All Users</h5>
          <p *ngIf="noofusers">
        There are {{ noofusers }} Users stored in the database
      </p>
    <div>
      <table
        class="table"
        border="1"
        cellspacing="0"
        style="width: 800px"
        *ngIf="arrlength"
      >
        <thead>
          <tr>
            <th scope="col">E-MAIL</th>
            <th scope="col">Full Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of objarray">
            <td >{{ o.email }}</td>
            <td >{{ o.firstname }} {{ o.lastname }}</td>
          </tr>
        </tbody>
      </table>
    </div>
        <span style="color: blue">{{ message }}</span>

    </div>

    
    <div *ngIf="mnggetcert">
      <h5>All Certification Details</h5>
      <div>
        <p *ngIf="totalusers">There are {{ totalusers }} Users having Certificates</p>
        <table
          class="table"
          border="1"
          cellspacing="0"
          *ngIf="arrlength2"
          style="width: 800px">
          <thead>
          <tr>
            <th scope="col">Certificate Name</th>
            <th scope="col">No of Users</th>
            <th scope="col">Full Name</th>
            <th scope="col">E-mail ID</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of objarray2">
              <td>{{ o.cardname }}</td>
              <td>{{ o.users.length }}</td>
              <td>
                <table  style="width:250px;">
                  <tr *ngFor="let q of o.users">
                  {{
                    q.firstname
                  }} 
                  {{
                    q.lastname
                  }}
                  </tr>
                </table>
              </td>
            <td>
              <table>
                <tr *ngFor="let q of o.users">
                  {{
                    q.email
                  }}
                </tr>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
       <br />
        <span style="color: blue">{{ message }}</span>
    
    </div>
</div>


