<nav
  class="navbar navbar-expand-lg navbar-light bg-success"
  style="border-bottom: 1px solid black"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/" *ngIf="!active">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/signin" *ngIf="!active">Sign In</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white"
          routerLink="/signin"
          (click)="signout()"
          *ngIf="active"
          >Sign Out</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/profile" *ngIf="isuser"
          >Home</a
        >
      </li>
            <li class="nav-item">
        <a class="nav-link text-white" routerLink="/account" *ngIf="isuser"
          >Account</a
        >
      </li>

              <li class="nav-item">
        <a class="nav-link text-white" routerLink="/certificate" *ngIf="isuser"
          >Certificate</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/admin" *ngIf="isadmin"
          >Admin Panel</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/hrpanel" *ngIf="ishr"
          >hrpanel</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="m-3 p-3" style="float: left;">
  <h5 style="text-align: center;">User Actions</h5>
  <input type="submit" value="Get Users" (click)="managegetuser()">
  <br>

  <h5 style="text-align: center;">Certificates Actions</h5>
  <input type="submit" value="Get Certificates" (click)="managegetcert()">
  <br>
</div>
<div class="m-3 p-3" style="float: left;">


  <div *ngIf="mngcreateuser">
    <h3>Create New User</h3>
    <form
      ngNativeValidate
      #signupform="ngForm"
      (ngSubmit)="onsubmit2(signupform.value)"
    >
      <label for="fname"
        >First name:
        <input type="text" id="fname" name="fname" minlength="4" ngModel required />
      </label>
      <br />
    
      <label for="lname"
        >Last name:
        <input type="text" id="lname" name="lname" minlength="4" required ngModel />
      </label>
      <br />
    
      <label for="email"
        >E-mail:
        <input
          type="email"
          id="email"
          name="email"
          pattern="[a-zA-Z0-9._\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}"
          required
          ngModel
        />
      </label>
      <br />
    
      <label for="pass"
        >Password:
        <input
          type="password"
          id="pass"
          name="pass"
          ngModel
          minlength="8"
          required
        />
      </label>
      <br />
    
      <label for="user">
        <input type="radio" id="user" name="role" ngModel value="0" />User:
      </label>
      <label for="hr">
        <input type="radio" id="hr" name="role" ngModel value="2" />Hr:
      </label>
      <label for="admin">
        <input type="radio" id="admin" name="role" ngModel value="1" />Admin:
      </label>
      <br />
    
      <input type="submit" value="Submit" />
      <input type="reset" value="Reset" />
    </form>
        <span style="color: blue">{{ message }}</span>
  </div>

  <div *ngIf="mngupdateuser">
    <h3>Update User role</h3>
    <form #updateform="ngForm" (ngSubmit)="onsubmit1(updateform.value)">
      <label for="uid"
        >User id:
        <input type="number" id="uid" name="uid" ngModel />
      </label>
      <br />
    
      <label for="user">
        <input type="radio" id="user" name="role" ngModel value="0" />User:
      </label>
      <label for="admin">
        <input type="radio" id="admin" name="role" ngModel value="1" />Admin:
      </label>
      <br />
    
      <input type="submit" value="Submit" />
      <input type="reset" value="Reset" />
    </form>
        <span style="color: blue">{{ message }}</span>

    </div>

  <div *ngIf="mngdeleteuser">
    <h5>Delete any user by ID</h5>
    <form #deleteform="ngForm" (ngSubmit)="onsubmit(deleteform.value)">
      <label for="id"
        >User ID:
        <input type="number" id="id" name="id" ngModel />
      </label>
      <input type="submit" value="Submit" />
    </form>
        <span style="color: blue">{{ message }}</span>

  </div>

  <div *ngIf="mnggetuser">  
    <h5> All Users</h5>
    
    <div>
      <table
        class="table"
        border="1"
        cellspacing="0"
        style="width: 800px"
        *ngIf="arrlength"
      >
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">E-MAIL</th>
            <th scope="col">First-Name</th>
            <th scope="col">Last-Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of objarray">
            <th scope="row" *ngIf="o.role==0">{{ o.id }}</th>
            <td *ngIf="o.role==0">{{ o.email }}</td>
            <td *ngIf="o.role==0">{{ o.firstname }}</td>
            <td *ngIf="o.role==0">{{ o.lastname }}</td>
          </tr>
        </tbody>
      </table>
    </div>
        <span style="color: blue">{{ message }}</span>

    </div>

    
    <div *ngIf="mngcreatecert">
      <h5>Create New Certification</h5>
      <form
        ngNativeValidate
        #cardform="ngForm"
        (ngSubmit)="oncardsubmit(cardform.value)"
      >
        <label for="cname"
          >Create Certificate:
          <input type="text" id="cname" name="cname" required ngModel />
        </label>
        <input type="submit" value="Submit" />
      </form>
        <span style="color: blue">{{ message }}</span>

    </div>

    
    <div *ngIf="mngdeletecert">
    <h5>Delete any Certification</h5>
    <form
      ngNativeValidate
      #carddeleteform="ngForm"
      (ngSubmit)="oncarddelete(carddeleteform.value)"
    >
      <label for="cardid"
        >Delete Certificate:
        <input type="number" id="cardid" name="cardid" required ngModel />
      </label>
      <input type="submit" value="Submit" />
    </form>
        <span style="color: blue">{{ message }}</span>

    </div>
    
    <div *ngIf="mnggetcert">
    <h5>All Certification Details</h5>
    <div>
      <p *ngIf="totalusers">There are {{ totalusers }} Users having Certificates</p>
      <table
        class="table"
        border="1"
        cellspacing="0"
        *ngIf="arrlength2"
        style="width: 800px"
      >
        <thead>
          <tr>
            <th scope="col">Certificate ID</th>
            <th scope="col">Certificate Name</th>
            <th scope="col">No of Users</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">E-mail ID</th>
            <th scope="col">User ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of objarray2">
            <th scope="row">{{ o.id }}</th>
            <td>{{ o.cardname }}</td>
            <td>{{ o.users.length }}</td>
            <td>
              <table>
                <tr *ngFor="let q of o.users">
                  {{
                    q.firstname
                  }}
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr *ngFor="let q of o.users">
                  {{
                    q.lastname
                  }}
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr *ngFor="let q of o.users">
                  {{
                    q.email
                  }}
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr *ngFor="let q of o.users">
                  {{
                    q.id
                  }}
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    </div>
</div>


