<nav class="navbar navbar-expand-lg navbar-light bg-success" style="border-bottom:1px solid black;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/" *ngIf="!isuser">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/signin" *ngIf="!isuser">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/signin" (click)="signout()" *ngIf="isuser || isadmin">Sign Out</a>
          </li>
                  <li class="nav-item">
          <a class="nav-link text-white" routerLink="/profile" *ngIf="isuser || isadmin">Home</a>
        </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/account" *ngIf="isuser || isadmin">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/certificate" *ngIf="isuser || isadmin">Certificates</a>
          </li>       
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/admin" *ngIf="isadmin">Admin Panel</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-white" routerLink="/hrpanel" *ngIf="ishr"
          >hrpanel</a
        >
      </li>
      </ul>
    </div>
  </nav>

<h3>Welcome {{fname || ""}} {{lname || ""}}</h3>
<p *ngIf="email">Your E-mail is {{email || "user@example.com"}}</p>


  <h5 *ngIf="arrlength2<=0">You haven't added any certificate in your profile</h5>

  <h5 *ngIf="arrlength2>0">List of Certificates You Have</h5>
  <table class="table" border="1" cellspacing="0" style="width:500px;" *ngIf="arrlength2>0">
    <thead>
    <tr>
      <th>Certificate ID</th>
      <th>Certificate Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let o of objarray2">
      <td>{{o.id}}</td>
      <td>{{o.cardname}}</td>
    </tr>
  </tbody>
  </table>

<p style="color:blue;">{{message}}</p>