<nav class="navbar navbar-expand-lg navbar-light bg-success" style="border-bottom:1px solid black;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/" *ngIf="!isuser">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/signin" *ngIf="!isuser">Sign In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/signin" (click)="signout()" *ngIf="isuser || isadmin">Sign Out</a>
          </li>
                  <li class="nav-item">
          <a class="nav-link text-white" routerLink="/profile" *ngIf="isuser || isadmin">Home</a>
        </li>
                    <li class="nav-item">
            <a class="nav-link text-white" routerLink="/account" *ngIf="isuser || isadmin">Account</a>
          </li>
                    <li class="nav-item">
            <a class="nav-link text-white" routerLink="/certificate" *ngIf="isuser || isadmin">Certificate</a>
          </li>

        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/admin" *ngIf="isadmin">Admin Panel</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-white" routerLink="/hrpanel" *ngIf="ishr"
          >hrpanel</a
        >
      </li>
      </ul>
    </div>
  </nav>

<div style="width:500px;">
  <form #updateform="ngForm" (ngSubmit)="onsubmit(updateform.value)">
          <fieldset border="1px">
          <legend>Update Info</legend>
            <label for="fname">First name:
            <input type="text" id="fname" [(ngModel)]="fname" name="fname" ngModel>
            </label>
            <br>
          
            <label for="lname">Last name:
            <input type="text" id="lname" [(ngModel)]="lname" name="lname" ngModel>
            </label>
            <br>
          
            <label for="email">E-mail:
            <input type="email" id="email" [(ngModel)]="email" name="email" ngModel>
            </label>
            <br>
            
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
            </fieldset>
  </form>
  <div>
  <br>
  <h5>Delete Your Account</h5>
  <input type="submit" (click)="delete()" value="Delete account">
  
  <br>
  <br>

<p style="color:blue;">{{message}}</p>