<nav
  class="navbar navbar-expand-lg navbar-light bg-success"
  style="border-bottom: 1px solid black"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
     
      <li class="nav-item">
        <a
          class="nav-link text-white"
          routerLink="/signin"
          (click)="signout()"
          *ngIf="active"
          >Sign Out</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/profile" *ngIf="isuser"
          >Home</a
        >
      </li>
            <li class="nav-item">
        <a class="nav-link text-white" routerLink="/account" *ngIf="active"
          >Account</a
        >
      </li>

              <li class="nav-item">
        <a class="nav-link text-white" routerLink="/certificate" *ngIf="isuser"
          >Certificate</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/admin" *ngIf="isadmin"
          >Admin Panel</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/hrpanel" *ngIf="ishr"
          >hrpanel</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="m-3 p-3" style="float: left;">
  <h5 style="text-align: center;">User Actions</h5>
  <input type="submit" value="Create User" (click)="managecreateuser()">
  <br>
  <input type="submit" value="Update User" (click)="manageupdateuser()">
  <br>
  <input type="submit" value="Delete User" (click)="managedeleteuser()">
  <br>
  <input type="submit" value="Get Users" (click)="managegetuser()">
  <br>
  <br>


  <h5 style="text-align: center;">Certificates Actions</h5>
  <input type="submit" value="Create Certificate" (click)="managecreatcert()">
  <br>
  <input type="submit" value="Delete Certificates" (click)="managedeletecert()">
  <br>
  <input type="submit" value="Get Certificates" (click)="managegetcert()">
  <br>
  <br>


  <h5 style="text-align: center;">Roles Actions</h5>
  <input type="submit" value="Create Role" (click)="managecreaterole()">
  <br>
  <input type="submit" value="Delete Role" (click)="managedeleterole()">
  <br>
  <input type="submit" value="Assign/Revoke" (click)="manageupdaterole()">
  <br>
  <br>


    <h5 style="text-align: center;">Logs Action</h5>
  <input type="submit" value="Activity logs" (click)="managegetlogs()">
  <br>
</div>
<div class="m-3 p-3" style="float: left;">


  <div *ngIf="mngcreateuser">
    <h3>Create New User</h3>
    <form
      ngNativeValidate
      #signupform="ngForm"
      (ngSubmit)="onsubmit2(signupform.value)"
    >
      <label for="fname"
        >First name:
        <input type="text" id="fname" name="fname" minlength="4" ngModel required />
      </label>
      <br />
    
      <label for="lname"
        >Last name:
        <input type="text" id="lname" name="lname" minlength="4" required ngModel />
      </label>
      <br />
    
      <label for="email"
        >E-mail:
        <input
          type="email"
          id="email"
          name="email"
          pattern="[a-zA-Z0-9._\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}"
          required
          ngModel
        />
      </label>
      <br />
    
      <label for="pass"
        >Password:
        <input
          type="password"
          id="pass"
          name="pass"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" title="Password must be alphanumeric and of 8 characters"
          required
          ngModel
        />
      </label>
      <br />
    <div *ngFor="let r of rolesarray">
          <label for="{{r}}" >
        <input class="p-2 m-2" type="radio" id="{{r}}" name="roles" ngModel value="{{r}}" />{{r}}
      </label>
    </div>

      <br>
    
      <input type="submit" value="Submit" />
      <input type="reset" value="Reset" />
    </form>
        <span style="color: blue">{{ message }}</span>
  </div>

  <div *ngIf="mngupdateuser">

    <div style="width:500px;">
      <h3>Update User Info</h3>
      <form #updateanyuserform="ngForm" (ngSubmit)="onupdatesubmit(updateanyuserform.value)">
              
        <label for="uid">User: 
        </label>
        <select name="uid" id="uid" [(ngModel)]="updateselected" (change)='onupdateSelected($event)'>
      
      <option *ngFor="let o of objarray" 
      [value]="o.id">{{o.firstname}} {{o.lastname}}</option>
      </select>
      <br>
                <label for="fname">First name:
                <input type="text" id="fname" [(ngModel)]="updatefirstname" name="fname" ngModel>
                </label>
                <br>
              
                <label for="lname">Last name:
                <input type="text" id="lname" [(ngModel)]="updatelastname" name="lname" ngModel>
                </label>
                <br>
              
                <label for="email">E-mail:
                <input type="email" id="email" [(ngModel)]="updateemail" name="email" ngModel>
                </label>
                <br>
                
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">

      </form>
      <br>
      <span style="color: blue">{{ message }}</span>

    </div>
  </div>

  <div *ngIf="mngdeleteuser">
    <h5>Delete any user by ID</h5>
        <form ngNativeValidate #deleteform="ngForm" (ngSubmit)="onsubmit(deleteform.value)">
      <label for="uid">User: 
      </label>
      <select name="uid" id="uid" [(ngModel)]="selected2" (change)='onOptionsSelected2($event)'>
    
    <option *ngFor="let o of objarray" 
    [value]="o.id">{{o.firstname}} {{o.lastname}}</option>
    </select>

    <input type="submit" value="Submit">
    </form>
        <span style="color: blue">{{ message }}</span>


  </div>

  <div *ngIf="mnggetlogs">
    <table
        class="table"
        border="1"
        cellspacing="0"
        style="width: 800px"
        *ngIf="logslength1"
      >
        <thead>
          <tr>
            <th scope="col">Message</th>
            <th scope="col">Level</th>
            <th scope="col">Date Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of logsarray1">
            <td>{{ o.message }}</td>
            <td>{{ o.level }}</td>
            <td>{{o.date}}</td>
          </tr>
        </tbody>
      </table>

  </div>

   <div *ngIf="mnggetuser">  
    <h5> All Users</h5>
    
    <div>
      <p *ngIf="noofusers">
        There are {{ noofusers }} Users stored in the database
      </p>
      <table
        class="table"
        border="1"
        cellspacing="0"
        style="width: 800px"
        *ngIf="arrlength"
      >
        <thead>
          <tr>
            <th scope="col">E-MAIL</th>
            <th scope="col">Full Name</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of objarray">
            <td>{{ o.email }}</td>
            <td>{{ o.firstname }} {{o.lastname}}</td>
            <td>
              <table style="width:100px;">
                <tr *ngFor="let role of o.roles">
                  {{
                    role.role
                  }}
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <h3>Create New User</h3>
      <form
      ngNativeValidate
      #signupform="ngForm"
      (ngSubmit)="onsubmit2(signupform.value)"
      >
      <label for="fname"
        >First name:
        <input type="text" id="fname" name="fname" minlength="4" ngModel required />
      </label>
      <br />
    
      <label for="lname"
        >Last name:
        <input type="text" id="lname" name="lname" minlength="4" required ngModel />
      </label>
      <br />
    
      <label for="email"
        >E-mail:
        <input
          type="email"
          id="email"
          name="email"
          pattern="[a-zA-Z0-9._\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}"
          required
          ngModel
        />
      </label>
      <br />
    
      <label for="pass"
        >Password:
        <input
          type="password"
          id="pass"
          name="pass"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" title="Password must be alphanumeric and of 8 characters"
          required
          ngModel
        />
      </label>
      <br />
    
      <label for="user" >
        <input class="p-2 m-2" type="radio" id="user" name="role" ngModel value="0" />User
      </label>
      <br>

      <label for="hr">
        <input class="p-2 m-2" type="radio" id="hr" name="role" ngModel value="2" />Hr
      </label>
      <br>
      <label for="admin">
        <input class="p-2 m-2" type="radio" id="admin" name="role" ngModel value="1" />Admin
      </label>
      <br />
    
      <input type="submit" value="Submit" />
      <input type="reset" value="Reset" />
      </form>
    </div>
    <br>


        <span style="color: blue">{{ message }}</span>

  </div>

    
    <div *ngIf="mngcreatecert">
      <h5>Create New Certification</h5>
      <form
        ngNativeValidate
        #cardform="ngForm"
        (ngSubmit)="oncardsubmit(cardform.value)"
      >
        <label for="cname"
          >Create Certificate:
          <input type="text" id="cname" name="cname" required ngModel />
        </label>
        <input type="submit" value="Submit" />
      </form>
        <span style="color: blue">{{ message }}</span>

    </div>

    
  <div *ngIf="mngdeletecert">
    <h5>Delete any Certification</h5>

    <form ngNativeValidate
      #carddeleteform="ngForm"
      (ngSubmit)="oncarddelete(carddeleteform.value)">
      <label for="cardid">Certificate:</label>
        <select name="cardid" id="cardid" [(ngModel)]="removeselected" (change)='onOptionsSelected3($event)'>
          <option *ngFor="let o of objarray2" [value]="o.id">{{o.cardname}}</option>
       </select>
    <input type="submit" value="Submit">
    </form>
    
    <span style="color: blue">{{ message }}</span>

    </div>
    
  <div *ngIf="mnggetcert">

<h5>Get Single Certification Detail</h5>
          <form ngNativeValidate #getcertificateform="ngForm" (ngSubmit)="ongetcertificate(getcertificateform.value)">
      <label for="cid">Certificate: 
      </label>
      <select name="cid" id="cid" [(ngModel)]="selectedcertficate" (change)='onOptionsCertificate($event)'>
    
    <option *ngFor="let o of objarray2" 
    [value]="o.id">{{o.cardname}}</option>
    </select>

    <input type="submit" value="Submit">
    </form>

        <span style="color: blue">{{ message }}</span>

          <table
        class="table"
        border="1"
        cellspacing="0"
        *ngIf="nofcertusers"
        style="width: 800px"
      >
        <thead>
          <tr>
            <th scope="col">Certificate Name</th>
            <th scope="col">No of Users</th>
            <th scope="col">Full Name</th>
            <th scope="col">E-mail ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ certname }}</td>
            <td>{{ nofcertusers }}</td>
            <td>
              <table style="width:250px;">
                <tr *ngFor="let user of users">
                  {{
                    user.firstname
                  }} {{
                    user.lastname
                  }}
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr *ngFor="let user of users">
                  {{
                    user.email
                  }}
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
<br>
    <h5>All Certification Details</h5>
    
    <div>
      <p *ngIf="totalusers">There are {{ totalusers }} Users having Certificates</p>
      <table
        class="table"
        border="1"
        cellspacing="0"
        *ngIf="arrlength2"
        style="width: 800px"
      >
        <thead>
          <tr>
            <th scope="col">Certificate Name</th>
            <th scope="col">No of Users</th>
            <th scope="col">Full Name</th>
            <th scope="col">E-mail ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let o of objarray2">
            <td>{{ o.cardname }}</td>
            <td>{{ o.users.length }}</td>
            <td>
              <table style="width:250px;">
                <tr *ngFor="let q of o.users">
                  {{
                    q.firstname
                  }} 
                  {{
                    q.lastname
                  }}
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr *ngFor="let q of o.users">
                  {{
                    q.email
                  }}
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
  </div>

  <div *ngIf="mngcreaterole">
    <h3>Create Role</h3>
    <form ngNativeValidate #rolecreateform="ngForm" (ngSubmit)="onrolecreateform(rolecreateform.value)">
      <label for="role">Role
        <input type="text" id="role" name="role" required ngModel />
      </label>

    <input type="submit" value="Submit">
    </form>
    <br>
    <span style="color: blue">{{ message }}</span>
  </div>

  <div *ngIf="mngdeleterole">
    <h3>Delete Role</h3>
    <form ngNativeValidate #roledeleteform="ngForm" (ngSubmit)="onroledeleteform(roledeleteform.value)">
      <label for="role">Role:
      </label>
      <select name="role" id="role" [(ngModel)]="roleselected" (change)='onRoleSelected($event)'>
    
    <option *ngFor="let r of rolesarray"
    [value]="r">{{r}}</option>
    </select>

    <input type="submit" value="Submit">
    </form>
    <br>
    <span style="color: blue">{{ message }}</span>

  </div>

  <div *ngIf="mngupdaterole">
    <h3>Assign Role to user</h3>
    <form ngNativeValidate #updateform="ngForm" (ngSubmit)="onsubmit1(updateform.value)">
      <label for="uid">User: 
      </label>
      <select name="uid" id="uid" [(ngModel)]="selected" (change)='onOptionsSelected($event)'>
    
    <option *ngFor="let o of objarray"
    [value]="o.id">{{o.firstname}} {{o.lastname}}</option>
    </select>

    <div *ngFor="let r of rolesarray">
          <label for="{{r}}" >
        <input class="p-2 m-2" type="radio" id="{{r}}" name="roles" ngModel value="{{r}}" />{{r}}
      </label>
    </div>

    <input type="submit" value="Submit">
    </form>

        <span style="color: blue">{{ message }}</span>
<br>
    <h3>Remove Role from user</h3>
    <form ngNativeValidate #revokeroleform="ngForm" (ngSubmit)="revokeRole(revokeroleform.value)">
      <label for="uid">User: 
      </label>
      <select name="uid" id="uid" [(ngModel)]="revokeselected" (change)='onRevokeUserSelected($event)'>
    
    <option *ngFor="let o of objarray" 
    [value]="o.id">{{o.firstname}} {{o.lastname}}</option>
    </select>

    <div *ngFor="let r of rolesrevokearray">
          <label for="{{r.role}}" >
        <input class="p-2 m-2" type="radio" id="{{r.role}}" name="roles" ngModel value="{{r.role}}" />{{r.role}}
      </label>
    </div>
<br>
    <input type="submit" value="Submit">
    </form>
  </div>
</div>


